.creativity-wrapper{
  background: var(--bg);
}
.creativity-wrapper section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.creativity-wrapper section p{
  color: #000;
  font-size: 18px;
  font-weight: 300;
  line-height: 189.5%; 
  padding: 10px 0 50px;
}
.creativity-wrapper section article{
 display: flex;
 justify-content: center;
 align-items: center;
 column-gap: 40px;
 animation:  mover 1s infinite alternate;
}
.creativity-wrapper section article img{
  height: 500px;
  object-fit: contain;
}
.creativity-wrapper section article .crai-center{
  height: 600px;
  object-fit: contain;
}
.creativity-wrapper section div{
  padding: 60px 0 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
}
@media (max-width:600px) {
  .creativity-wrapper section{
    padding-top: 10px;
  }
  .creativity-wrapper section article img:not(.crai-center){
      display: none;
  }
  .creativity-wrapper section article .crai-center{
    height: 390px;
  }
  .creativity-wrapper section div {
    padding: 30px 0 50px;
  }
}
@media (min-width:601px) and (max-width:991px) {
  .creativity-wrapper section article{
    column-gap: 20px;
  }
  .creativity-wrapper section article img{
    height: 300px;
    object-fit: contain;
  }
  .creativity-wrapper section article .crai-center{
    height: 400px;
    object-fit: contain;
  }
  .creativity-wrapper section div {
    padding: 30px 0 50px;
  }
}