.footer{
  background: var(--bg);
  background-color: var(--bgColor);
  background-blend-mode: overlay;
}
footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 60px 0;
}
footer p{
color:  #FFF;
font-size: 14px;
font-weight: 400;
line-height: 22px; 
padding: 20px 0 ;
}
footer .store{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 15px;
  padding-bottom: 50px;
}
footer hr{
  color: white;
  width: 100%;
  opacity: 0.2;
}
footer article{
  display: flex;
  justify-content:space-between;
  align-items: center;
  width: 100%;
  padding-top: 25px;
}
footer article div{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
}
footer article div:last-of-type span{
  color: #FFF;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px; 
}
footer article div:last-of-type span span{
  font-size: 15px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  animation: lightOnOff 1.5s infinite alternate; 
}

@keyframes lightOnOff {
  0% {
    color: #6DBBE4; 
  }
  100% {
    color: #fff; /* Change text color to white */
  }
}
footer article div:first-of-type a {
  position: relative; 
  display: block;
  width: 42px;
  height: 42px;
  text-align: center;
  line-height: 63px;
  background: #ffffff1a;
  border-radius: 50%;
  font-size: 30px;
  color: black;
  transition: .5s;
}

footer article div:first-of-type a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #103cff5b;
  transition: .5s;
  transform: scale(.9);
  z-index: -1;
}

footer article div:first-of-type a:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px #103cff;
}

footer article div:first-of-type a:hover {
  color: #103cff;
  box-shadow: 0 0 5px #103cff;
  text-shadow: 0 0 5px #103cff;
}
@media (max-width:600px) {
  footer{
    padding: 40px 0;
  }
  footer article{
    column-gap: 10px;
  }
}