.title,.w-title{
  font-size: 39px;
  font-weight: 800;
  text-align: center;
}
.title{
  color:  #44A8DD;
}
.w-title{
  color: #FFF;
}
.t-color{
  transition: .5s linear
}
.y-color{
  transition: .5s linear
}
.y-color:hover{
  text-shadow: 0 0 10px rgba(197, 197, 250, 0.521),
  0 0 20px rgba(197, 197, 250, 0.493), 
  0 0 40px rgba(197, 197, 250, 0.479);
}
.t-color:hover{
  text-shadow: 0 0 10px rgba(0, 0, 255, 0.411),
               0 0 20px #37b2f5, 
               0 0 40px #37b2f5;
}
@media (max-width:600px) {
  .title,.w-title{
  font-size: 20px;
  padding: 20px 0;
  }
}
