.title,.w-title{
  font-size: 39px;
  font-weight: 800;
  text-align: center;
}
.title{
  color: var(--02, #44A8DD);
}
.w-title{
  color: #FFF;
}
@media (max-width:600px) {
  .title,.w-title{
  font-size: 20px;
  padding: 20px 0;
  }
}
