.works{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 100px;
}
.works p{
  font-size: 18px;
  font-weight: 300;
  line-height: 189.5%; 
  padding: 15px 0 50px;
}
.works article{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  animation: moveFromLeftToRight 2s ease-in-out forwards;
}
.sub-line,.sub-line-tow{
  display: none;
  margin-top: -30px;
}

.works .work-img img{
  height: 377px;
  object-fit: contain;
  animation:  mover 1s infinite alternate;
}
@media (max-width :537px){
  .works article{
   gap: 13px;
  }
  .sub-line{
    display: block;
  }
  .works .work-img img{
    height: 135px;
    padding-top: 15px;
  }
  .works{
    padding-top: 30px;
  }
}
@media (min-width :538px) and (max-width:727px) {
  .works article{
    gap: 70px;
   }
   .sub-line{
    display: block;
  }
  .works .work-img img{
    height: 200px;
    padding-top: 15px;
  }
  .works{
    padding-top: 30px;
  }
}
@media (min-width :728px) and (max-width:1000px) {
  .works article{
    gap: 10px;
   }
   .sub-line,.sub-line-tow{
    display: block;
  }
  .works .work-img img{
    height: 290px;
    padding-top: 15px;
  }
  .works{
    padding-top: 30px;
  }
}