.about-wrapper{
  background: var(--bg);
  background-color: var(--bgColor);
  background-blend-mode: overlay;
}
.about{
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 70px 0;
 column-gap: 55px;
 flex-wrap: wrap;
}
.about article{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.about article p{
  color: #FFF;
  font-size: 18px;
  font-weight: 300;
  line-height: 189.5%; 
}
.about img:first-of-type{
  height: 70px;
  object-fit: contain;
}
.about img:last-of-type{
  object-fit: contain;
  height: 250px;
}
@media (max-width:600px) {
  .about{
    justify-content: center;
    row-gap: 30px;
  }
}
@media (min-width:601px) and (max-width:1200px) {
  .about article .w-title{
    text-align: start ;
  }
  .about{
    justify-content: center;
    row-gap: 30px;
  }
}