.header{
  background: var(--bg);
  background-color: var(--bgColor);
  background-blend-mode: overlay;
  border-bottom-left-radius: 105px;
  border-bottom-right-radius: 105px;
  margin-bottom: 330px;
}
header .bar img{
  height: 30px;
  object-fit: cover;
  display: none;
}
.header ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0 80px;
}

.header header{
  padding-bottom: 350px;
}
.header ul li {
  list-style: none;
}
.header ul li a{
  text-decoration: none;
  color: #FFF;
  font-size: 18px;
  font-weight: 400;
  transition:all 0.3s ease;
  position: relative;
  padding: 10px 20px;
  transition: all 0.3s ease;
}
.header ul li a:hover{
  color: #FFF;
  background-color: rgba(0, 0, 0, 0.712);
  border-radius: 10px;
}
ul li a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-top: 2px solid #262626;
  border-bottom: 2px solid #262626;
  transform: scaleY(2);
  opacity: 0;
  transition: 0.3s;
}
ul li a:after {
  content: "";
  position: absolute;
  top: 2px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #262626;
  transform: scale(0);
  opacity: 0;
  transition: 0.3s;
  z-index: -1;
}

ul li a:hover:before {
  transform: scaleY(1);
  opacity: 1;
}
ul li a:hover:after {
  transform: scaleY(1);
  opacity: 1;
}
.header ul li a.active{
  font-weight: 800;
}
.header ul li .science{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
}
.header ul li .user{
  display: flex;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: rgb(105, 185, 228);
  justify-content: center;
  align-items: center;
}   
.header .download{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header .download article{
  display: flex;
  justify-content: end;
  align-items: center;
  position: relative;
  width: 100%;
}
.header .download article div:last-of-type{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
  top: 250px;
  position: absolute;
}
.header .download article div:first-of-type{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 30px;
  right:80px;
}  

header .download article div:first-of-type img{
  object-fit: contain;
  width: 100%;
}
.img-left{
  margin-left: 130px;
}
.img-center{
  position: absolute;
  right: 16px;
}
.ltr .header .download article div:first-of-type {
  left:10px;
}
.ltr .img-right{
  margin-right: 40px;
}
.ltr .img-center{
  left: 120px;
}
.ltr .img-left{
  margin-right: 155px;
}
/* Define the keyframes animation */
@keyframes moveFromLeftToRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
.test{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
  padding-bottom: 25px;
  padding-top: 66px;
}
.test .point{
  cursor: pointer;
}
/* Apply the animation to the container and the individual spans */
.wrapper-images {
  animation: moveFromLeftToRight 2s ease-in-out forwards;
  animation:  mover 1s infinite alternate;

}

.img-left,
.img-center,
.img-right {
  animation: moveFromLeftToRight 2s ease-in-out forwards;
}

/* Additional styling for the spans if needed */
.img-left,
.img-center,
.img-right {
  padding: 10px; /* Add any desired padding or styling */
}
/* Apply the animation to the image */

@keyframes lightUp {
  0% {
    opacity: 0.2; 
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); 
  }
  100% {
    opacity: 1; /* Fully visible */
    box-shadow: 0 0 20px rgba(255, 255, 255, 1); 
  }
}

.light-up-image {
  animation: lightUp 2s ease-in-out infinite alternate; 
}

@media (max-width:600px) {
  .header{
  margin-bottom:  30px;
  }
  header{
    padding-top: 30px;
    padding-bottom: 280px !important;
  }
  header .bar img{
  display: none;
  }
  .header ul{
    display: none;
  }
  .header .download article div:first-of-type{
    right: -1px;
    top: 55px;
  }
  .header .download article div:last-of-type{
    top: 240px;
    left: 90px;
  }
  .ltr header{
    padding: 40px 0 350px;
  }
  .ltr .header .download article div:first-of-type{
    top: -3px;
    left: -124px;
    right: -18px;
  }
  .ltr .img-center{
    right: 28px;
  }
  .ltr .img-left{
    margin-right: 50px
  }
  .ltr .header .download article div:last-of-type{
    left:90px
  }
}
@media (min-width:600px) and (max-width:1200px){
  .header{
  margin-bottom:  50px;
  }
  .header .download article div:first-of-type{
    right: 139px;
    left: 136px;
  }
  .header .download article div:last-of-type{
    top: 224px;
    right: 230px;
  }
  .ltr .header .download article div:first-of-type{
    top:10px;
    left:18px
  }
  .img-left{
    margin-left: 85px
  }
  .img-center{
    right: 13px;
  }
  .ltr .img-left{
    margin-right: 50px
  }
  .ltr .img-center{
    left: 109px;
  }
  .ltr .header .download article div:last-of-type{
    right: 10px;
  }
  .ltr .header ul{
    padding-bottom: 30px;
  }
}
@media (min-width:800px) and (max-width:991px){
  .header .download article div:first-of-type{
    right: 139px;
    left: 136px;
  }
  .header .download article div:last-of-type{
    top: 224px;
    right: 560px;
  }
}
@media (min-width:991px) and (max-width:1200px) {
  .header .download article div:last-of-type{
    top: 224px;
    right: 680px;
  }
}
@media (min-width:1361px) {
  .header .download article div:first-of-type{
    right:137px
  }
}


