@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500&family=Roboto:wght@300&family=Tajawal:wght@200;300;400;500;700;800&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root{
   --bg: url("../public/images/about.png");
   --bgColor:#44a8ddc7;
}
body{
  font-family: 'Tajawal', sans-serif;
  
}